name: Keep Render Service Active

on:
  schedule:
    # Runs every 5 minutes, 24/7
    - cron: '*/5 * * * *' 
  workflow_dispatch:

jobs:
  ping-service:
    runs-on: ubuntu-latest
    
    steps:
      - name: Ping Render Service
        run: curl -I https://portfolio-0fkz.onrender.com
        
      - name: Log ping time
        run: echo "Pinged at $(date)"
